*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  /* margin-top: 100px; */
  background: white;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
a,
a:visited {
  color: #2c3e50;
}

.container {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 960px;
}

a {
  text-decoration: none;
  font-weight: bold;
}



